body {
  width: 100%;
}

.preferiti {
  width: 500px;
  height: 300px;
}

.utente {
  width: 700px;
}

.mappa {
  height: 500px;
}

.video {
  width: 750px;
  height: 400px;
  position: absolute;
  right: 30px;
  margin-left: 20px;
  top: 500px;
}

.gift {
  width: 200px;
  height: 120px;
  position: absolute;
  right: 300px;
  top: 400px;
}

.nav {
  width: 100%;
}
